/* demo styles
  --------------------------------------------- */

  #why-container {
    background-color: #001266;
    padding:0;
    height: 100vh;
    overflow: hidden;
}

 h3 .why-title {
    color: #ffffff;
}

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /* slide layout
  --------------------------------------------- */

  .slide {
    position: relative;
    padding: 8% 0;
    scroll-snap-align: start;
        -webkit-scroll-snap-align: start;
        -moz-scroll-snap-align: start;
        -ms-scroll-snap-align: start;
  }

  .slide__content, .slide-mobile__content {
    /* max-width: 1200px; */
    margin: auto;
    display: -webkit-flex;
    display: flex;
    align-items: center;
  }

  .slide__text, .slide__image {
    padding: 8%;
  }

  .slide__image {
    padding: 10px;
    -webkit-flex: 1;
    flex: 1;
    display: block;
    /* margin: auto; */
    width: 150%;
    height: 10px;
    background: #4568FB;
    z-index: 0;
    bottom: -40px;
    position: absolute;
  }

  .first {
      transform: translateX(10%);
      border-radius: 35px;
  }

  .first-mobile {
      transform: translateX(20%);
      border-radius: 35px;
  }

  .last {
    width: 100%;
    transform: translateX(-60%);
    border-radius: 30px;
  }

  .last-mobile {
      transform: translateX(-20%);
      border-radius: 35px;
  }

  .slide__title {
      display: block;
      z-index: 5;
      position: absolute;
      bottom: -30vh;
      left: 0%;
      width: 100%;
      text-align: center;
      opacity: 0;
  }

  h1 {
    font-family: 'Seoulnamsan', sans-serif;
    font-size: 6em;
    color: #ffffff;
  }

  .slide-mobile__text p, .slide__text p {
    color: #DBDBE0;
    font-family: 'Merriweather', serif;
  }

  .circle {
      width: 50px;
      height: 50px;
      background-color: #001266;;
      margin: auto;
      border-radius: 25px;
      border: 3px solid #ffffff;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
  }

  .slide__bg, .slide-mobile__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

    .circle-mobile {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: #001266;;
        margin: auto;
        border: 3px solid #ffffff;
        z-index: 10;
    }

    .dots-mobile {
        top: 0px;
    }

    .slide-mobile {
        position: relative;
        width: 100%;
        height: 100vh;
        display: block;
        white-space: normal;
    }

    .slide-mobile__content {
        text-align: center;
        display: block;
    }

    .slide-mobile__text {
        height: 30%;
        width: 70%;
        font-size: 13px;
        margin: auto;
    }

    .slide-mobile__title {
        width: 100%;
        margin-top: 30px;
        position: absolute;
        bottom: 7%;
        left: 50%;
        transform: translateX(-50%)
    }

    .slide-mobile__image {
        padding: 5px;
        -webkit-flex: 1;
        flex: 1;
        display: block;
        /* margin: auto; */
        width: 100%;
        height: 10px;
        bottom: 12%;
        background: #4568FB;
        z-index: -1;
        position: absolute;
    }

    .filler {
        width: 100%;
        height: 32%;
    }

/* horizontal scroll styles */
html, body {
    height: 100%;
}
.slides {
    white-space: nowrap;
    height: 100%;
    scroll-snap-type: x mandatory;
        -webkit-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
}   
.slide {
    width: 100%;
    height: 100vh;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    margin-right:-.3em;
}
.slide__content {
    height: 100%;
    display: block;
    margin-top: 100px;
}

.slide__text {
    width: 70%;
    position: absolute;
    padding-top: 90px;
    opacity: 0;
}

/* parallax */
@supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {
    html, body {
        overflow: hidden;
    }
    body {
        transform: translateZ(0px); /* Fix paint issues in Edge && Safari H/W acceleration */
    }
    .slides {
        position: absolute;
        overflow-x: auto;
        overflow-y: hidden;
        perspective: 300px;
        scroll-behavior: smooth;
        width: 100%;
    }
    .slide, .slide__content {
        transform-style: preserve-3d;
    }
    .slide__text {
        transform: translateZ(60px) scale(.8);
        transform-origin: 157% 50%;
    }

    .slide__image {
        transform: translateZ(-390px) scale(1);
    }

    .slide__title {
        transform-origin: top left;
            -webkit-transform-origin: top left;
            -moz-transform-origin: top left;
        transform: translateZ(-150px) scale(1);
    }

    .slide:nth-child(2n) .slide__image {
        transform-origin: 100% 0%;
    }

    /* .slide:nth-child(2n) .slide__text {
    transform-origin: 100% 0%;
    } */

    .slide:nth-child(2n) .slide__bg {
        transform: translateZ(59px) scale(.85);
    }

    .slide:nth-child(2n+1):not(:first-child) .slide__bg {
        left: -50%;
    }

    .slide:nth-child(2n+1):not(:last-child) .slide__bg {
        right: -50%;
    }
    
}

/*/slideshow */
.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.2s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 10;
    opacity: 0;
  }

.arrow:hover {
    color: #717171;
}
/* Position the "next button" to the right */
#next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

/* The dots/bullets/indicators */
.dots, .dots-mobile {
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 10;
}

.dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    opacity: 0;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }

  .slides-mobile, .dots-mobile {
      display: none;
  }

  @media only screen and (max-height: 414px) and (max-width: 896px){

    .slides-mobile, .dots-mobile {
        display: block;
    }

    .slides, .dots, .arrows {
        display: none;
    }
    
    h1 {
        font-size: 3em;
    }

  }
