.scroller{
    scroll-snap-type: x mandatory;
    width: 100%;
    height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.item{
    scroll-snap-align: start;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #001266;
    display: inline-block;

}

#why-container {
    background-color: #001266;
    padding:0;
    height: 100vh;
    overflow: hidden;
    cursor: ew-resize;
}

h3 .why-title {
    color: #ffffff;
}

.line {
    width: 150%;
    height: 10px;
    background: #4568FB;
    z-index: 30;
    top: 80vh;
    position: absolute;
}

.first {
    transform: translateX(8%);
    border-radius: 5px;
}

.last {
    width: 100%;
    transform: translateX(-10%);
    border-radius: 5px;
}

.text-container {
    width: 40%;
    height: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item-text {
    position: relative;
    color: #DBDBE0;
    z-index: 30;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    white-space: normal;
    font-family: 'Merriweather', serif;
}

.item-date {
    position: absolute;
    color: #ffffff;
    z-index: 30;
    top: 70vh;
    margin: auto;
    transform: translateZ(100px);
        -webkit-transform: translateZ(100px);
    z-index: 31;
    width: 100%;
    text-align: center;
    font-family: 'Seoulnamsan', sans-serif;
    font-size: 100px;
}


