#main-container {
    padding: 10px 30px 10px 30px;
    height: 100vh;
}

.title {
    position: absolute;
    top: 18px;
    left: 30px;
    z-index: 8;
}

h3, li {
    font-family: 'Seoulnamsan';
    font-size: 18px;
}

h1 {
    font-family: 'Nanum Square', sans-serif;
    color: #DBDBE0;
}

li a {
    color: #4568fb;
}

.phrase-wrapper {
    display: block;
}

.highlight {
    color: #4568fb;
}

#placeholder {
    height: 12%;
}

.nav-container {
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 10;
}

.vl {
    background: #6CB7B3;
    border-radius: 2px;
    margin-right: 5px;
    height: 100px;
    width: 2px;
    float: right;
}

.nav {
    width: auto;
    z-index: 10;
    text-align: right;
}

.nav-link {
    padding-right: 0;
}

.nav-about__link {
    animation-name: about-hover;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-play-state: paused; 
    content: '소';
}

.nav-about:hover {
    animation-play-state: running;
}

@keyframes about-hover {
    100% {content:"소개"}
}

#translation {
    margin-top: 20px;
    font-family: 'Merriweather';
    font-weight: 300;
    font-size: 1.5em;
    color: #DBDBE0;
}

.slider {
    -webkit-appearance: none; 
    appearance: none;
    width: 100%;
    height: 8px;
    background: #DBDBE0;
    border-radius: 7px;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 15px;
    height: 15px;
    background: #6CB7B3;
    border-radius: 7.5px;
    transition: .2s;
}

.slider::-webkit-slider-thumb:hover {
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
    transition: .2s;
}